footer{
    padding-top:20px;
    padding-bottom:20px;
    position: absolute;
  	bottom: 0;
  	width: 100%;
  	background-color: white;
    text-align: center;
}

.tram-container{
	float:right;
	display:inline;

	img{
		width:100px;
	}
}